/*
HTML:
<div class="borderBottomSlide">
    <a href="">Awesome</a>
</div>
*/
.borderBottomSlide {
    position: relative;
    overflow: hidden;
    background: ;/*Change the color of the background here*/
    padding: ;/*Change the space around the text here*/
}

.borderBottomSlide a {
    display: block;
    text-decoration: none;
    font-size: 25px;/*Change the text size here*/
    font-family: sans-serif;
    color: #fff;/*Change the text color here*/
}

.borderBottomSlide:before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.borderBottomSlide:hover:before {
    right: 0;
}