/*
HTML:
<div class="spikesIn">
    <a href="">Awesome</a>
</div>
*/
.spikesIn {
    position: relative;
    padding: 15px 20px;/*Change this to create space around the text*/
    background-color: #333333;
    transition: all 0.7s;  
    -webkit-clip-path: polygon(
        0% 0%,
        25% 0%,
        50% 0%,
        75% 0%,
        100% 0%,
        100% 50%,
        100% 100%,
        50% 100%,
        25% 100%,
        0% 100%,
        0% 50%
    );
}

.spikesIn a {
    display: block;
    text-decoration: none;
    font-size: 25px;/*Change the text size here*/
    font-family: sans-serif;
    color: #fff;/*Change the text color here*/
}

.spikesIn:hover {
    -webkit-animation: spikesIn 2s infinite;
}

@-webkit-keyframes spikesIn {
    0% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );      
    }
    11% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 20%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    22% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 20%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    33% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 20%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    44% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            93% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    55% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 80%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    66% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 80%,
            25% 100%,
            0% 100%,
            0% 50%
        );
    }
    77% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 80%,
            0% 100%,
            0% 50%
        );
    }
    88% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            7% 50%
        );
    }
    100% {
        -webkit-clip-path: polygon(
            0% 0%,
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%
        );      
    }
}